{% extends 'base.html' %}
{% load static %}

{% block 'meta' %}
<title>{{ blogs.site_name }} | {{ blogs.tagline }}</title>
<meta name="description" content="{{ blogs.details }}">
{% endblock 'meta' %}

{% block content %}
        <!-- featured post section start here -->
        <section class="section first-section">
            <div class="container-fluid">
                <div class="masonry-blog clearfix">
                    
                    <div class="first-slot">
                        <div class="masonry-box post-media">
                             <img src="{{ fetured_one.feature_img.url }}" alt="" class="img-fluid" style="height: 350px;">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-orange"><a href="{{ fetured_one.category.slug}}" title="">{{fetured_one.category.category}}</a></span>
                                        <h4><a href="{% url 'single' fetured_one.slug %}" title="">{{fetured_one.title}}</a></h4>
                                        <small><i class="fa fa-calendar" aria-hidden="true"></i> {{fetured_one.publish_on}}</small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                            </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end first-side -->

                    <div class="second-slot">
                        <div class="masonry-box post-media">
                             <img src="{{ fetured_two.feature_img.url }}" alt="" class="img-fluid" style="height: 350px;">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-orange"><a href="{{fetured_two.category.slug}}" title="">{{fetured_two.category.category}}</a></span>
                                        <h4><a href="{% url 'single' fetured_two.slug %}" title="">{{fetured_two.title}}</a></h4>
                                        <small><i class="fa fa-calendar" aria-hidden="true"></i> {{fetured_two.publish_on}}</small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                             </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end second-side -->

                    <div class="last-slot">
                        <div class="masonry-box post-media">
                             <img src="{{ fetured_three.feature_img.url }}" alt="" class="img-fluid" style="height: 350px;">
                             <div class="shadoweffect">
                                <div class="shadow-desc">
                                    <div class="blog-meta">
                                        <span class="bg-orange"><a href="{{fetured_three.category.slug}}" title="">{{fetured_three.category.category}}</a></span>
                                        <h4><a href="{% url 'single' fetured_two.slug %}" title="">{{fetured_three.title}}</a></h4>
                                        <small><i class="fa fa-calendar" aria-hidden="true"></i> {{fetured_three.publish_on}}</small>
                                    </div><!-- end meta -->
                                </div><!-- end shadow-desc -->
                             </div><!-- end shadow -->
                        </div><!-- end post-media -->
                    </div><!-- end second-side -->
                </div><!-- end masonry -->
            </div>
        </section>

        <!-- LATEST POST SECTION -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-left"><i class="fa fa-th"></i> RECENT POST</h4>
                            </div><!-- end blog-top -->

                            <div class="blog-list clearfix">
                                {% for post in posts %}
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="{% url 'single' post.slug %}" title="">
                                                <img src="{{ post.feature_img.url }}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="{% url 'single' post.slug %}" title="">{{ post.title }}</a></h4>
                                        <p>{{post.content|truncatechars:100|safe}}</p>
                                        <small class="firstsmall"><a class="bg-orange" href="#" title="">{{post.category.category}}</a></small>
                                        <small>{{post.publish_on}}</small>
                                        <small><i class="fa fa-eye"></i> {{post.views}}</small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->
                                {% endfor %}
                                <hr class="invis">
                            </div><!-- end blog-list -->
                        </div><!-- end page-wrapper -->

                        <hr class="invis">
                        <!-- pagination section herer -->
                        <div class="row">
                            <div class="col-md-12">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                        {% if posts.has_previous %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{posts.previous_page_number}}">Previous</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">Previous</a>
                                          </li>
                                          {% endif %}

                                        {% for i in posts.paginator.page_range %}
                                          {% if posts.page_number == i %}
                                        <li class="page-item active"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                            {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                                          {% endif %}
                                        {% endfor %}

                                        {% if posts.has_next %}
                                        <li class="page-item">
                                          <a class="page-link" href="?page={{posts.next_page_number}}">Next</a>
                                        </li>
                                        {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link">Next</a>
                                          </li>
                                        {% endif %}
                                      </ul>
                                </nav>
                            </div><!-- end col -->
                        </div><!-- end row -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="{% static 'upload/banner_07.jpg' %}" alt="" class="img-fluid" style="height: 300px;">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Popular Posts</h2>
                                <div class="blog-list-widget">
                                    {% for popular in posts %}
                                    <div class="list-group">
                                        <a href="{% url 'single' popular.slug %}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ popular.feature_img.url }}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ popular.title }}</h5>
                                                <small><i class="fa fa-calendar" aria-hidden="true"></i> {{popular.publish_on}}</small>
                                            </div>
                                        </a>
                                    </div>
                                    {% endfor %}
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title">Follow Us</h2>

                                <div class="row text-center">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button facebook-button">
                                            <i class="fa fa-facebook"></i>
                                            <p>27k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button twitter-button">
                                            <i class="fa fa-twitter"></i>
                                            <p>98k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button google-button">
                                            <i class="fa fa-google-plus"></i>
                                            <p>17k</p>
                                        </a>
                                    </div>

                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                        <a href="#" class="social-button youtube-button">
                                            <i class="fa fa-youtube"></i>
                                            <p>22k</p>
                                        </a>
                                    </div>
                                </div>
                            </div><!-- end widget -->

                            <div class="widget">
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="{% static 'upload/banner_03.jpg' %}" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
{% endblock content %}